body {
    /* background: linear-gradient(45deg,#000000, #606060); */
}

.product-page {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px;
    gap: 40px;
    
    margin-top: 10px;
    border-radius: 10px;

    background: linear-gradient(to right, #c9e656,#b6f362,#90dd66);
    color: black;
    font-family: Helvetica, Arial, sans-serif;
}

.benefits {
    display: flex;
    flex-direction: column;
    gap: 25px;
    
    border-radius: 20px;
    padding: 10px;

    background: linear-gradient(to right,#d6f5ae,#d4f5aa);
}

.single-benefit {
    display: flex;
    align-items: center;
    gap: 15px;
}

.single-benefit span {
    text-transform: uppercase;
    font-family: Helvetica, sans-serif;
    font-size: 1.3em;
}

.single-benefit img {
    width: 50px;
    height: auto;
}

.product-image {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.product-image img {
    width: auto;
    height: auto;
    border-radius: 20px;
    padding: 10px;
    background: linear-gradient(to left, #d6f5ae, #b6dd83);
}

.product-card {
    flex: 1;
    background-color: #d6f5ae;
    padding: 20px;
    border-radius: 10px;
    font-size: 0.95em;
}

.product-card h2 {
    font-size: 1.2em;
    font-weight: bold;
}

.product-card a {
    font-size: 0.9em;
    color: black;
    width: fit-content;
    transition: transform 0.2s ease;
}

.product-card a:hover {
    transform: scale(1.1);
}

.price {
    font-size: 2em;
    color: #228b22;
    font-weight: bold;
}

.parcelado {
    font-size: 0.9em;
    color: #333;
}

.buy-btn {
    display: block;
    justify-content: center;
    align-items: center;
    background-color: #00cc00;
    /* background: linear-gradient(red, yellow, green); */
    border: none;
    padding: 12px 20px;
    color: white;
    /* color: black; */
    font-weight: bold;
    font-size: 1em;
    border-radius: 6px;
    cursor: pointer;
    margin: 15px auto 0 auto;
}

.stock {
    margin-top: 10px;
    color: green;
}

.prod-icon {
    border: solid 1px black;
    border-radius: 50%;
    padding: 10px;
    background-color: black;
    filter: brightness(1.5);
}
