#cabecalho{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 5vw;
    height: 12vh;
    /* background: linear-gradient(45deg, black, white, black, black, black, rgb(0, 0, 0)); */
    background: linear-gradient(45deg,yellowgreen, yellowgreen, black, gray, white );

    
    font-size: 1.2rem;
    font-family: Helvetica, sans-serif, Arial;
    color: white;

    margin-bottom: 0;
}

.left-side, .right-side, .post-right{
    display: flex;
    align-items: center;
    gap: 0.3vw;

    height: 100%;

    transition: transform 0.2s ease, filter 0.2s ease;
}

.left-side:hover, .right-side:hover, .post-right:hover {
    transform: scale(1.05);
    filter: drop-shadow(0 0 5px yellowgreen)
    drop-shadow(0 0 5px yellowgreen);
}

#logo{
    height: 16vh;
}

#marca{
    font-size: 2.2rem;
    font-weight: bold;
    transition: transform 0.2s ease;
}
#marca:hover{
    filter: drop-shadow(1px 1px 4px greenyellow);
    transform: scale(1.1);
}
.link-ico{
    font-size: 1.2em;
    display: flex;
    align-items: center;
    gap: 0.7em;
    color: white;
    text-decoration: none;
}

#opcoes{
    font-family: Helvetica, Sans-serif, Arial;
    color: rgb(0, 0, 0);
    font-size: 1em;

    display: flex;
    justify-content: space-evenly;
    gap: 1vw;
    align-items: center;
    padding: 0 5vw;

    background-color: rgb(210, 210, 210);
    height: 3.5vh;
    border-bottom-left-radius: 0.7em;
    border-bottom-right-radius: 0.7em;
}

#opcoes a{
    color: black;
    text-decoration: none;

    font-weight: bold;
    padding: 0.7em 1em;
    transition: transform 0.2s ease;
}
#opcoes a:hover{
    transform: scale(1.1);
    text-decoration: underline;
}

@media (max-width: 1200px) {
    #barra-pesquisa {
        display: none;
    }
}