.f-general {
    margin-top: 2vh;
    padding: 2vw 4vw;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;

    background: linear-gradient(90deg, rgb(158, 158, 158), black, black);

    color: white;

    display: flex;
    align-items: center;
}

.f-developers {
    background: linear-gradient(90deg,  yellowgreen);
    border-radius: 1em;

    width: 20vw;
    height: 14vw;
    filter: drop-shadow(10px 15px 0px white, 5px 10px 0px red);
    /* filter: ; */
}
.f-d-title {
    text-align: left;
    margin-left: 1em;
    font-size: 1.6rem;
}
.f-d-students {
    font-size: 1.4rem;
    margin-left: 1em;
}
.f-d-students span {
    margin-bottom: 2.5em;
}

.f-elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    padding: 1vw;
    width: 100%;
    gap: 1.5vh;
}

.f-info {
    display: flex;
    align-items: center;
    width: 50%;


    background-color: rgb(54, 54, 54);
    border-radius: 1em;
    padding: 1vw;
    gap: 2vw;
    flex-wrap: wrap;
}

.f-info span {
    font-size: 1.1em;
}

.f-info i {
    background-color: yellowgreen;
    padding: 0.7em;
    border-radius: 50%;
    color: white;
    font-size: 1.1em;
}

@media (max-width: 700px) {
    .f-general {
        padding: 4vw 2vw;
        font-size: 0.95em;
    }

    .f-info {
        flex-direction: column;
        gap: 1vh;
        align-items: flex-start;
    }

    .f-elements {
        gap: 2vh;
    }
}