.fas.fa-search{ /*Ícone de pesquisa*/
    pointer-events: none;
}

#cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;


    padding: 0 5%;
    height: 15vh;
    background: linear-gradient(45deg, black, rgb(60, 60, 60));
    
    font-size: 1.2em;
    font-family: Helvetica, sans-serif, Arial;
    color: white;
}

.left-side, .right-side, .post-right{
    display: flex;
    align-items: center;
    gap: 10px;

    transition: transform 0.2s ease;
}

#logo{
    height: 10vh;
}

#marca{
    font-size: 2.5em;
    font-weight: bold;
    transition: transform 0.2s ease;
}
#marca:hover{
    filter: drop-shadow(1px 1px 4px greenyellow);
    transform: scale(1.1);
}

#barra-pesquisa{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 300px;
}

#pesquisa{
    width: 100%;
    padding: 10px 40px 10px 10px;
    border: solid 1px #ccc;
    border-radius: 7px;
    font-size: 1em;
    
    display: flex;
    justify-content: space-between;
    gap: 10px;
    text-align: center;
    align-items: center;
}

#pesquisa:hover{
    box-shadow: inset 4px 3px rgba(0, 0, 0, 0.2);
}

#btn-pesquisa{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #555;
    font-size: 1em;
    cursor: pointer;
}

#cadicon{
    height: 8vh;
}
#cadicon:hover{
    filter: drop-shadow(1px 1px 4px greenyellow);
}
#favicon{
    height: 4.6vh;
}
#favicon:hover{
    filter: drop-shadow(1px 1px 4px greenyellow)
}

.link-ico{

    font-size: 1.1em;

    display: flex;
    align-items: center;
    gap: 8px;
    color: white;
    text-decoration: none;

    transition: transform 0.2s ease, color 0.2s ease;
}
.link-ico:hover{
    transform: scale(1.1);
    color: greenyellow;
    text-shadow: 1px 1px 4px greenyellow;
}